@use "./base.scss";

.page-title {
  font-size: 1.5rem; 
  margin: 1rem 0;  

  & a {
    color: var(--dark); 
    text-decoration: none;
    font-weight: 700; 
    
    &:hover {
      color: var(--secondary);
    }
  }
}

.recent-notes {
  & > h3 {
    font-size: 1.1rem !important;
    font-weight: 600 !important;
    margin-bottom: 0.75rem !important;
  }

  .recent-ul {
    padding-left: 0 !important;

    .recent-li {
      margin-bottom: 0.05rem !important; 
      
      .meta {
        display: none !important;
      }

      .desc h3 {
        margin: 0 !important;
        font-size: 0.95rem !important; 
        font-weight: 400 !important;  
        line-height: 1.2 !important; 

        a {
          color: var(--secondary) !important;
          text-decoration: none !important;
          
          &:hover {
            color: var(--tertiary) !important;
            text-decoration: none !important;
          }
        }
      }
    }
  }
}

.explorer .explorer-content li {
  margin-bottom: 0.05rem !important; 
  
  & > a {
    font-size: 0.95rem !important;
    line-height: 1.2 !important; 
    font-weight: 400 !important;
    display: inline-block;
  }
}