@use "./base.scss";

.page-title {
  font-size: 1.5rem; 
  margin: 1rem 0;  

  & a {
    color: var(--dark); 
    text-decoration: none;
    font-weight: 700; 
    
    &:hover {
      color: var(--secondary);
    }
  }
}

.recent-notes {
  & > h3 {
    font-size: 1.1rem !important;
    font-weight: 600 !important;
    margin-bottom: 0.75rem !important;
  }

  .recent-ul {
    padding-left: 0 !important;
    margin: 0 !important; 

    .recent-li {
      margin: 0 0 0.20rem 0 !important; 
      padding: 0 !important;
      
      .section {
        margin: 0 !important; 
        padding: 0 !important;
        display: block !important; 
      }

  
      .meta, .tags {
        display: none !important; 
      }

      .desc h3 {
        margin: 0 !important;
        padding: 0 !important;
        font-size: 0.95rem !important; 
        font-weight: 400 !important;  
        line-height: 1.4 !important;

        a {
          color: var(--secondary) !important;
          text-decoration: none !important;
          display: inline-block;
          
          &:hover {
            color: var(--tertiary) !important;
          }
        }
      }
    }
  }
}

.explorer {
  .folder-container {
    margin-bottom: 0.2rem !important;
  }

  .explorer-content li {
    margin-bottom: 0.10rem !important;
    
    & > a {
      font-size: 0.95rem !important;
      line-height: 1.4 !important; 
      font-weight: 400 !important;
      display: inline-block;
    }
  }
}

.callout:not(:has(.callout-content > *)) {
  padding-block: 0.55rem !important; 
}

.callout:not(:has(.callout-content > *)) .callout-title {
  padding: 0 !important;
}

.callout-title :is(p) {
  margin: 0 !important;
}

.callout:not(:has(.callout-content > *)) .callout-title + .callout-content {
  margin-top: 0 !important;
  padding-top: 0 !important;
  display: none !important;
}
